@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700&family=Playball&display=swap');

body {
    font-family: 'Lexend Deca', sans-serif;
}

.d-flex {
    display: flex;
}

.hidden {
    display: none;
}

.color-success {
    color: #8FC549;
}

.login-register-page {
    align-items: center;
    align-self: center;
    justify-content: center;
    flex-direction: column;
}

.big-logo {
    margin-top: 68px;
    margin-bottom: 32px;
    max-width: 390px;
}

.login-register-page form {
    flex-direction: column;
    align-items: center;
}

form .form-group input {
    width: 300px;
    height: 45px;
    padding-left: 10px;
    border: solid 1px #d4d4d4;
    color: #bbbbbb;
    font-size: 20px;
    margin-bottom: 6px;
    box-sizing: border-box;
}

.login-register-page form button {
    width: 300px;
    height: 45px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    background-color: #52b6ff;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    justify-content: center;
    align-items: center;
}

.login-register-page form button.disabled {
    opacity: 0.5;
}

.login-register-page form a {
    margin-top: 25px;
    color: #52b6ff;
    text-align: center;
    margin-bottom: 20px;
}